name: Go Workflow

on: push

jobs:
  gotest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - run: go test -v -cover
      - run: cd cmd/gordm/ && go test -v
